.ansiout {
  color: hsla(0, 100%, 100%, 0.8) !important;
}

.ansired {
  color: lightcoral !important;
}

.ansiblue {
  color: lightskyblue !important;
}

.ansigreen {
  color: lightgreen !important;
}

.ansiyellow {
  color: lightyellow !important;
}

.ansicyan {
  color: lightcyan !important;
}

/* Buttons on the top-right corner */
.command-button {
  color: #5f7e97 !important;
}

/* Cell number on the top-left corner */
.command-number {
  color: #5f7e97 !important;
}

/* Cell container */
.mainCommand {
  background-color: #011627 !important;
  border: 1px solid #5f7e97 !important;
  padding-left: 3px !important;
  border-left-width: 4px !important;
  box-shadow: none;
}

.CodeMirror-gutters {
  background-color: #011627 !important;
  border-right: 1px solid transparent !important;
}

.CodeMirror-linenumber {
  color: #5f7e97 !important;
}

/* Result area */
ul.jobs p,
div.dataset-info-view span,
div.dataset-info-view i,
p.clickable-text,
p.plotWarning {
  color: hsla(0, 100%, 100%, 0.8) !important;
}

/* Results */
.results-and-comments {
  background-color: #011627 !important;
  color: hsla(0, 100%, 100%, 0.8) !important;
}

/* Dataframe table */
div.widget.ui-resizable tr:hover td {
  color: #011627;
  background-color: hsla(0, 100%, 100%, 0.8);
}

/* Suggestion from Databricks */
span.spark-advisor-header,
span.spark-advisor-text,
span.spark-advisor-indicator {
  color: black;
}

/* Run info (when, whso, and how long it took) */
div.command-result-stats span:nth-child(2),
div.command-result-stats span:nth-child(4) {
  font-size: 15px !important;
  color: #5f7e97 !important;
}

div.command-result-stats span:nth-child(1),
div.command-result-stats span:nth-child(3),
div.command-result-stats span:nth-child(5) {
  display: none !important;
}
