.CodeMirror-lines {
  background-color: #011627 !important;
  color: #f8f8f2 !important;
  border: 1px solid #5f7e97 !important;
}

.command-active .CodeMirror-lines {
  background-color: #011627 !important;
  color: #f8f8f2 !important;
  border: 1px solid lightgreen !important;
}

.CodeMirror-cursor {
  border-left: 1px solid #f8f8f2 !important;
}

.CodeMirror-matchingbracket {
  background-color: #5f7e97 !important;
}

.CodeMirror-selected {
  background-color: #5f7e97 !important;
}

span.cm-comment {
  color: #637777 !important;
}
span.cm-atom {
  color: #ae81ff !important;
}
span.cm-number {
  color: #f78c6c !important;
}

span.cm-property {
  color: #f8f8f2 !important;
}

span.cm-attribute {
  color: #f8f8f2 !important;
}

span.cm-keyword {
  color: #c792ea !important;
  font-weight: normal !important;
}
span.cm-string {
  color: #ecc48d !important;
}

span.cm-variable {
  color: #f8f8f2 !important;
}

span.cm-variable-2 {
  color: #f8f8f2 !important;
}

span.cm-def {
  color: #82aaff !important;
}

span.cm-bracket {
  color: #f8f8f2 !important;
}

span.cm-tag {
  color: #f92672 !important;
}

span.cm-link {
  color: #ae81ff !important;
}

span.cm-error {
  background: #f92672 !important;
  color: #f8f8f2 !important;
}

span.cm-builtin {
  color: #addb67 !important;
}

span.cm-operator {
  color: #c792ea !important;
}

span.cm-meta {
  color: #addb67 !important;
}
