.modal {
  background-color: #333 !important;
  color: hsla(0, 100%, 100%, 0.8) !important;
}

.modal-body {
  border: none !important;
}

.modal-footer {
  background-color: #333 !important;
  color: hsla(0, 100%, 100%, 0.8) !important;
  border-top: none !important;
  box-shadow: none !important;
}
