/* action bar */
.context-bar {
  background-color: #011627 !important;
  border-bottom: 1px solid #5f7e97 !important;
}

/* title bar */
#topbar {
  background-color: #011627 !important;
}

.attach-cluster-select-wrapper {
  border: 1px solid #5f7e97 !important;
}

.context-bar-link-text,
.single-value--with-icon,
.context-bar i.fa:not(.status-indicator-icon),
#topbar span,
#topbar i.fa {
  color: hsla(0, 100%, 100%, 0.8) !important;
}

a[data-name='Restart Cluster'] {
  pointer-events: none !important;
  color: #dddddd !important;
}

.dropdown-menu {
  background-color: #333 !important;
}

.dropdown-menu-item a,
.dropdown-submenu a {
  color: hsla(0, 100%, 100%, 0.8) !important;
}

#shortcut-content {
  background-color: #333 !important;
}

.shortcut-description {
  color: hsla(0, 100%, 100%, 0.8) !important;
}

.edit-mode-shortcuts h2,
.command-mode-shortcuts h2 {
  color: hsla(0, 100%, 100%, 0.8) !important;
}

.shortcut-command {
  background-color: #333 !important;
  color: lightskyblue !important;
}

.plus-sign,
.shortcut-colon {
  color: hsla(0, 100%, 100%, 0.8) !important;
}

p.divider {
  display: none;
}
