.filetree-link,
.sidebar-panel-link {
  background-color: #011627 !important;
  color: hsla(0, 100%, 100%, 0.8) !important;
}

.filetree-link:hover,
.sidebar-panel-link:hover {
  background-color: #0b253a !important;
  color: hsla(0, 100%, 100%, 0.8) !important;
}

.filetree-list-item.top-link > a {
  background-color: #011627 !important;
  color: hsla(0, 100%, 100%, 0.8) !important;
  border-bottom: 1px solid #5f7e97 !important;
}

.data-panel-header,
.filebrowser-header {
  background-color: #011627 !important;
  color: hsla(0, 100%, 100%, 0.8) !important;
  border-right: 1px solid #5f7e97 !important;
  border-bottom: 1px solid #5f7e97 !important;
}

.ft-panel {
  background-color: #011627 !important;
  color: hsla(0, 100%, 100%, 0.8) !important;
  border-right: 1px solid #5f7e97 !important;
}

.filebrowser-context-menu li a {
  color: hsla(0, 100%, 100%, 0.8) !important;
}

div.dropdown {
  color: #5f7e97 !important;
}

.ui-resizable-handle {
  background-color: #5f7e97 !important;
}

.ft-scroll-angle-left,
.ft-scroll-angle-right {
  background-color: #5f7e97 !important;
}

i.fa-angle-left,
i.fa-angle-right {
  color: hsla(0, 100%, 100%, 0.8) !important;
}

.home-folder i,
.home-folder span {
  color: #dbdbdb !important;
}

.panel-title {
  background-color: #011627 !important;
  color: hsla(0, 100%, 100%, 0.8) !important;
  border-bottom: 1px solid #5f7e97 !important;
}

.sidebar-panel-element input {
  background-color: #0b253a !important;
  border: none !important;
}

i.fa.fa-caret-down,
i.fa.fa-search {
  color: #5f7e97 !important;
  opacity: 1;
}
