.overallContainer {
  background-color: #011627 !important;
  border-right: 1px solid #5f7e97 !important; }

.notebook-view {
  border-top: 1px solid #5f7e97 !important;
  background-color: #011627 !important; }

.submit-hint,
.shortcuts-link {
  color: rgba(255, 255, 255, 0.8) !important; }

/** #topbar has zero-height, so body is visible and needs dark background */ 
body {
  background-color: #011627 !important;
}
