.overallContainer {
  background-color: #011627 !important;
  border-right: 1px solid #5f7e97 !important; }

.notebook-view {
  border-top: 1px solid #5f7e97 !important;
  background-color: #011627 !important; }
