.command-number {
  color: #5f7e97 !important; }

.mainCommand {
  background-color: #011627 !important;
  border: 1px solid #5f7e97 !important;
  padding-left: 3px !important;
  box-shadow: none !important; }
  .mainCommand:hover {
    border: 1px solid lightblue !important; }
  .mainCommand .ansiout {
    color: rgba(255, 255, 255, 0.8) !important; }
  .mainCommand .ansired {
    color: lightcoral !important; }
  .mainCommand .ansiblue {
    color: lightskyblue !important; }
  .mainCommand .ansigreen {
    color: lightgreen !important; }
  .mainCommand .ansiyellow {
    color: lightyellow !important; }
  .mainCommand .ansicyan {
    color: lightcyan !important; }
  .mainCommand .command-button {
    color: #5f7e97 !important; }
    .mainCommand .command-button:hover {
      color: lightblue !important; }
      .mainCommand .command-button:hover i.fa {
        color: lightblue !important; }
  .mainCommand .CodeMirror-gutters {
    background-color: #011627 !important;
    border-right: 1px solid transparent !important; }
  .mainCommand .CodeMirror-linenumber {
    color: #5f7e97 !important; }
  .mainCommand ul.jobs p,
  .mainCommand div.dataset-info-view span,
  .mainCommand div.dataset-info-view i,
  .mainCommand p.clickable-text,
  .mainCommand p.plotWarning {
    color: rgba(255, 255, 255, 0.8) !important; }
  .mainCommand .results-and-comments {
    background-color: #011627 !important;
    color: rgba(255, 255, 255, 0.8) !important; }
  .mainCommand .results-and-comments pre {
    background-color: #011627 !important;
    color: rgba(255, 255, 255, 0.8) !important; }
  .mainCommand .progress-bar-text {
    color: black !important; }
  .mainCommand div.widget.ui-resizable tr:hover td {
    color: #011627 !important;
    background-color: rgba(255, 255, 255, 0.8) !important; }
  .mainCommand span.spark-advisor-header,
  .mainCommand span.spark-advisor-text,
  .mainCommand span.spark-advisor-indicator {
    color: black; }
  .mainCommand div.command-result-stats span {
    font-size: 12px !important;
    color: lightblue !important; }
  .mainCommand div.ui-icon-gripsmall-diagonal-se {
    background-color: #f5f5f5 !important; }
  .mainCommand input.editing-text {
    color: rgba(255, 255, 255, 0.8) !important; }
  .mainCommand svg text {
    fill: rgba(255, 255, 255, 0.8) !important; }
  .mainCommand iframe {
    background-color: #f5f5f5 !important; }
  .mainCommand.new-notebook.command.command-active, .mainCommand.new-notebook.command.command-active:hover {
    border: 1px solid lightgreen !important; }
  .mainCommand.new-notebook.command.command-active.is-editing, .mainCommand.new-notebook.command.command-active.is-editing:hover {
    border: 1px solid #5f7e97 !important; }
  .mainCommand.is-editing .CodeMirror-lines {
    border: 1px solid lightgreen !important; }

.btn-circle {
  background-color: #011627 !important;
  border: 1px solid lightblue !important;
  opacity: 1 !important; }
  .btn-circle i.fa {
    color: lightblue !important; }
