.command-box .CodeMirror-lines {
  background-color: #011627 !important;
  color: #f8f8f2 !important;
  border: 1px solid #5f7e97 !important; }

.command-box .CodeMirror-cursor {
  border-left: 1px solid #f8f8f2 !important; }

.command-box .CodeMirror-matchingbracket {
  background-color: #5f7e97 !important; }

.command-box .CodeMirror-selected {
  background-color: #5f7e97 !important; }

.command-box span.cm-comment {
  color: #637777 !important; }

.command-box span.cm-atom {
  color: #ae81ff !important; }

.command-box span.cm-number {
  color: #f78c6c !important; }

.command-box span.cm-property {
  color: #f8f8f2 !important; }

.command-box span.cm-attribute {
  color: #f8f8f2 !important; }

.command-box span.cm-keyword {
  color: #c792ea !important;
  font-weight: normal !important; }

.command-box span.cm-string {
  color: #ecc48d !important; }

.command-box span.cm-variable {
  color: #f8f8f2 !important; }

.command-box span.cm-variable-2 {
  color: #f8f8f2 !important; }

.command-box span.cm-variable-3 {
  color: #f8f8f2 !important; }

.command-box span.cm-def {
  color: #82aaff !important; }

.command-box span.cm-bracket {
  color: #f8f8f2 !important; }

.command-box span.cm-tag {
  color: #f92672 !important; }

.command-box span.cm-link {
  color: #ae81ff !important; }

.command-box span.cm-error {
  background: #f92672 !important;
  color: #f8f8f2 !important; }

.command-box span.cm-builtin {
  color: #addb67 !important; }

.command-box span.cm-operator {
  color: #c792ea !important; }

.command-box span.cm-meta {
  color: #addb67 !important; }
