#filebrowser-popup .filebrowser-header {
  background-color: #011627 !important;
  color: rgba(255, 255, 255, 0.8) !important;
  border-right: 1px solid #5f7e97 !important;
  border-bottom: 1px solid #5f7e97 !important; }

#filebrowser-popup a {
  color: rgba(255, 255, 255, 0.8) !important; }
  #filebrowser-popup a:hover {
    color: rgba(255, 255, 255, 0.8) !important;
    background-color: #5f7e97 !important; }

#filebrowser-popup .filetree-link {
  background-color: #011627 !important;
  color: rgba(255, 255, 255, 0.8) !important; }
  #filebrowser-popup .filetree-link:hover {
    background-color: #5f7e97 !important; }
    #filebrowser-popup .filetree-link:hover span,
    #filebrowser-popup .filetree-link:hover i.fa {
      color: rgba(255, 255, 255, 0.8) !important; }

#filebrowser-popup .filetree-list-item.top-link > a {
  border-bottom: 1px solid #5f7e97 !important; }

#filebrowser-popup .filetree-display-name {
  color: rgba(255, 255, 255, 0.8) !important; }
  #filebrowser-popup .filetree-display-name:hover {
    color: rgba(255, 255, 255, 0.8) !important;
    background-color: #5f7e97 !important; }

#filebrowser-popup i.fa.fa-chevron-down,
#filebrowser-popup i.fa.fa-caret-down {
  color: rgba(255, 255, 255, 0.8) !important; }

#filebrowser-popup .dropdown {
  opacity: 1 !important; }

#filebrowser-popup .home-folder {
  background-color: #011627 !important; }
  #filebrowser-popup .home-folder span,
  #filebrowser-popup .home-folder i.fa {
    color: #dbdbdb !important; }

#filebrowser-popup .ft-scroll-angle-left,
#filebrowser-popup .ft-scroll-angle-right {
  background-color: #5f7e97 !important;
  color: #011627 !important;
  border: 2px solid #5f7e97 !important; }
  #filebrowser-popup .ft-scroll-angle-left:hover,
  #filebrowser-popup .ft-scroll-angle-right:hover {
    border: 2px solid rgba(255, 255, 255, 0.8) !important; }
  #filebrowser-popup .ft-scroll-angle-left i.fa,
  #filebrowser-popup .ft-scroll-angle-right i.fa {
    color: rgba(255, 255, 255, 0.8) !important; }

.filebrowser-context-menu {
  background-color: #0b253a !important; }
  .filebrowser-context-menu a {
    color: rgba(255, 255, 255, 0.8) !important;
    background-image: none !important; }
    .filebrowser-context-menu a:hover {
      background-color: #1ca0c2 !important; }
  .filebrowser-context-menu .dropdown-menu {
    background-color: #0b253a !important; }
  .filebrowser-context-menu .dropdown-submenu:hover > a {
    background-image: none !important;
    background-color: #1ca0c2 !important; }

.recent-panel-title {
  color: rgba(255, 255, 255, 0.8) !important;
  border-bottom: 1px solid #5f7e97 !important; }
