#help-menu {
  background-color: #0b253a !important; }
  #help-menu i,
  #help-menu span {
    color: rgba(255, 255, 255, 0.8) !important; }
  #help-menu a:hover {
    background-color: #1ca0c2 !important; }
