.history-panel-wrapper {
  border: 1px solid #5f7e97 !important; }
  .history-panel-wrapper .history-panel {
    width: 225px !important;
    background-color: #011627 !important; }
  .history-panel-wrapper .history-git-bar {
    background-color: #011627 !important; }
  .history-panel-wrapper .history-preview,
  .history-panel-wrapper .history-preview-selected {
    border-top: 1px solid #5f7e97 !important;
    border-bottom: none;
    background-color: #011627 !important; }
  .history-panel-wrapper .history-preview:hover,
  .history-panel-wrapper .history-preview-selected:hover {
    background-color: #1ca0c2 !important; }
  .history-panel-wrapper .history-date-title {
    color: rgba(255, 255, 255, 0.8) !important; }
  .history-panel-wrapper .history-all-changes-saved {
    color: lightgreen !important; }
