#shortcut-content {
  background-color: #0b253a !important; }
  #shortcut-content .edit-mode-shortcuts h2,
  #shortcut-content .command-mode-shortcuts h2 {
    color: rgba(255, 255, 255, 0.8) !important;
    border-bottom: 1px solid #5f7e97 !important; }
  #shortcut-content .shortcut-command {
    background-color: #0b253a !important;
    color: lightblue !important; }
  #shortcut-content .plus-sign,
  #shortcut-content .shortcut-colon {
    color: rgba(255, 255, 255, 0.8) !important; }
  #shortcut-content .shortcut-description {
    color: rgba(255, 255, 255, 0.8) !important; }
