.sidebar-main {
  background-color: #011627 !important;
  border-right: 1px solid #5f7e97 !important; }

.filetree-link,
.sidebar-panel-link {
  background-color: #011627 !important;
  color: rgba(255, 255, 255, 0.8) !important; }
  .filetree-link:hover,
  .sidebar-panel-link:hover {
    background-color: #0b253a !important; }
    .filetree-link:hover span,
    .filetree-link:hover i.fa,
    .sidebar-panel-link:hover span,
    .sidebar-panel-link:hover i.fa {
      color: rgba(255, 255, 255, 0.8) !important; }

.filetree-list-item.top-link > a {
  background-color: #011627 !important;
  color: rgba(255, 255, 255, 0.8) !important;
  border-bottom: 1px solid #5f7e97 !important; }

.data-panel-header,
.filebrowser-header {
  background-color: #011627 !important;
  color: rgba(255, 255, 255, 0.8) !important;
  border-right: 1px solid #5f7e97 !important;
  border-bottom: 1px solid #5f7e97 !important; }

.ft-panel {
  background-color: #011627 !important;
  color: rgba(255, 255, 255, 0.8) !important;
  border-right: 1px solid #5f7e97 !important; }

.filebrowser-context-menu li a {
  color: rgba(255, 255, 255, 0.8) !important; }

div.dropdown {
  color: #5f7e97 !important; }

.ui-resizable-handle {
  background-color: #5f7e97 !important; }

.ft-scroll-angle-left,
.ft-scroll-angle-right {
  background-color: #5f7e97 !important;
  color: #011627 !important; }
  .ft-scroll-angle-left:hover,
  .ft-scroll-angle-right:hover {
    background-color: lightblue !important; }
    .ft-scroll-angle-left:hover i.fa-angle-left,
    .ft-scroll-angle-left:hover i.fa-angle-right,
    .ft-scroll-angle-right:hover i.fa-angle-left,
    .ft-scroll-angle-right:hover i.fa-angle-right {
      color: #011627 !important; }

i.fa-angle-left,
i.fa-angle-right {
  color: rgba(255, 255, 255, 0.8) !important; }

.home-folder i,
.home-folder span {
  color: #dbdbdb !important; }

.panel-title {
  background-color: #011627 !important;
  color: rgba(255, 255, 255, 0.8) !important;
  border-bottom: 1px solid #5f7e97 !important; }

.sidebar-panel-element input {
  background-color: #011627 !important;
  border: none !important; }

i.fa.fa-caret-down {
  color: #5f7e97 !important; }

.sidebar-element .sidebar-element-icon-inner {
  border: 1px solid #5f7e97 !important; }
  .sidebar-element .sidebar-element-icon-inner i.fa {
    color: #5f7e97 !important; }

.sidebar-element span {
  color: #5f7e97 !important; }

.sidebar-element.selected .sidebar-element-icon-inner {
  background-color: lightblue !important;
  border: 1px solid lightblue !important; }
  .sidebar-element.selected .sidebar-element-icon-inner i.fa {
    color: #011627 !important; }

.sidebar-element.selected span {
  color: lightblue !important; }

.sidebar-element:hover .sidebar-element-icon-inner {
  border: 1px solid lightblue !important; }
  .sidebar-element:hover .sidebar-element-icon-inner i.fa {
    color: lightblue !important; }

.sidebar-element:hover span {
  color: lightblue !important; }

.sidebar-element.selected:hover .sidebar-element-icon-inner {
  border: 1px solid lightblue !important; }
  .sidebar-element.selected:hover .sidebar-element-icon-inner i.fa {
    color: #011627 !important; }
