#user-menu {
  background-color: #0b253a !important; }
  #user-menu .account-section .header,
  #user-menu .org-section .header {
    color: rgba(255, 255, 255, 0.8) !important; }
  #user-menu hr {
    border-color: rgba(255, 255, 255, 0.8) !important; }
  #user-menu .accounts-text {
    color: rgba(255, 255, 255, 0.8) !important; }
  #user-menu .workspace-link,
  #user-menu .workspace-owner {
    color: rgba(255, 255, 255, 0.8) !important; }
  #user-menu .accounts-text {
    color: rgba(255, 255, 255, 0.8) !important; }
