.input-widget-panel {
  background-color: #011627 !important;
  border-bottom: 1px solid #5f7e97 !important; }

.input-widget-panel div {
  background-color: #011627 !important; }

.widget-panel-settings {
  background-color: #011627 !important; }

.widget-panel-settings i.fa,
.input-label,
.css-xp4uvy {
  color: rgba(255, 255, 255, 0.8) !important; }
