@import './variables';

// background
.overallContainer {
  background-color: $bg-main;
  border-right: $border;
}

.notebook-view {
  border-top: $border;
  background-color: $bg-main;
}

// hint at the bottom
.submit-hint,
.shortcuts-link {
  color: $font-main;
}

body {
  background-color: $bg-main;
}
