@import './variables';

#filebrowser-popup {
  .filebrowser-header {
    background-color: $bg-main;
    color: $font-main;
    border-right: $border;
    border-bottom: $border;
  }

  a {
    color: $font-main;

    &:hover {
      color: $font-main;
      background-color: $line-main;
    }
  }

  .filetree-link {
    background-color: $bg-main;
    color: $font-main;

    &:hover {
      background-color: $line-main;

      // prevent font color from turning to gray on hover
      span,
      i.fa {
        color: $font-main;
      }
    }
  }

  .filetree-list-item.top-link > a {
    border-bottom: $border;
  }

  .filetree-display-name {
    color: $font-main;

    &:hover {
      color: $font-main;
      background-color: $line-main;
    }
  }

  // down-arrow button on each file
  i.fa.fa-chevron-down,
  i.fa.fa-caret-down {
    color: $font-main;
  }

  // by default opacity is set to 0.1
  .dropdown {
    opacity: 1 !important;
  }

  .home-folder {
    background-color: $bg-main;

    span,
    i.fa {
      color: #dbdbdb !important;
    }
  }

  // arrow buttons to move between directories
  .ft-scroll-angle-left,
  .ft-scroll-angle-right {
    background-color: $line-main;
    color: $bg-main;
    border: 2px solid $line-main;

    &:hover {
      border: 2px solid $font-main;
    }

    i.fa {
      color: $font-main;
    }
  }
}

// dropdown menu which shows up when clicking the header
.filebrowser-context-menu {
  background-color: $bg-sub;

  a {
    color: $font-main;
    background-image: $none;

    &:hover {
      background-color: $hover-dropdown;
    }
  }

  // nested dropdown
  .dropdown-menu {
    background-color: $bg-sub;
  }

  .dropdown-submenu:hover > a {
    background-image: $none;
    background-color: $hover-dropdown;
  }
}

// title of the recent panel
.recent-panel-title {
  color: $font-main;
  border-bottom: $border;
}
