@import './variables';

#topbar {
  .tb-title-wrapper {
    margin-left: 0px;
    padding-left: 10px;
    background-color: $bg-main;
    line-height: 42px;
  }

  .tb-button,
  .workspace-name-icon-wrapper {
    background-color: $bg-main;
    line-height: 42px;
  }

  .tb-title-wrapper-right {
    height: 42px;
  }

  // text and icons on the topbar
  span,
  i.fa {
    color: $font-main;
  }

  // clock icon to show the recent activity
  .presence-history.active {
    box-shadow: $none;
    background-color: $line-main;
  }

  .workspace-name {
    text-shadow: none;
  }
}
