$bg-color: #011627 !important;
$line-color: #5f7e97 !important;
$font-color: hsla(0, 100%, 100%, 0.8) !important;
$border: 1px solid $line-color;
$active-border: 1px solid lightgreen !important;
$hover-bg: #0b253a !important;
$highlight: lightblue !important;
$hover: #1ca0c2 !important;
