@import './variables';

.ansiout {
  color: $font-color;
}

.ansired {
  color: lightcoral !important;
}

.ansiblue {
  color: lightskyblue !important;
}

.ansigreen {
  color: lightgreen !important;
}

.ansiyellow {
  color: lightyellow !important;
}

.ansicyan {
  color: lightcyan !important;
}

// buttons on the top-right corner
.command-button {
  color: $line-color;
  &:hover {
    color: lightblue !important;
    i.fa {
      color: lightblue !important;
    }
  }
}

// cell number on the top-left corner
.command-number {
  color: $line-color;
}

// cell container
.mainCommand {
  background-color: $bg-color;
  border: $border;
  padding-left: 3px !important;
  box-shadow: none !important;

  &:hover {
    border: 1px solid $highlight;
  }
}

.CodeMirror-gutters {
  background-color: $bg-color;
  border-right: 1px solid transparent !important;
}

.CodeMirror-linenumber {
  color: $line-color;
}

// result area
ul.jobs p,
div.dataset-info-view span,
div.dataset-info-view i,
p.clickable-text,
p.plotWarning {
  color: $font-color;
}

// text on charts created by display
svg text {
  fill: $font-color;
}

// results
.results-and-comments {
  background-color: $bg-color;
  color: $font-color;
}

.progress-bar-text {
  color: black !important;
}

// dataframe table
div.widget.ui-resizable tr:hover td {
  color: $bg-color;
  background-color: $font-color;
}

// suggestion from Databricks
span.spark-advisor-header,
span.spark-advisor-text,
span.spark-advisor-indicator {
  color: black;
}

// run info
div.command-result-stats span:nth-child(2),
div.command-result-stats span:nth-child(4) {
  font-size: 12px !important;
  color: lightblue !important;
}

div.command-result-stats span:nth-child(1),
div.command-result-stats span:nth-child(3),
div.command-result-stats span:nth-child(5) {
  display: none !important;
}

// resize icon
div.ui-icon-gripsmall-diagonal-se {
  background-color: #f5f5f5 !important;
}

iframe {
  background-color: #f5f5f5 !important;
}

/* cell header */
input.editing-text {
  color: $font-color;
}

div.new-notebook.command.command-active,
div.new-notebook.command.command-active:hover {
  border: $active-border;
}

div.new-notebook.command.command-active.is-editing,
div.new-notebook.command.command-active.is-editing:hover {
  border: $border;
}
