@import './variables';

$editor-font-color: #f8f8f2 !important;

.CodeMirror-lines {
  background-color: $bg-color;
  color: #f8f8f2 !important;
  border: $border;
}

.is-editing .CodeMirror-lines {
  background-color: $bg-color;
  color: $editor-font-color;
  border: $active-border;
}

.CodeMirror-cursor {
  border-left: 1px solid $editor-font-color;
}

.CodeMirror-matchingbracket {
  background-color: $line-color;
}

.CodeMirror-selected {
  background-color: $border;
}

span.cm-comment {
  color: #637777 !important;
}
span.cm-atom {
  color: #ae81ff !important;
}
span.cm-number {
  color: #f78c6c !important;
}

span.cm-property {
  color: #f8f8f2 !important;
}

span.cm-attribute {
  color: #f8f8f2 !important;
}

span.cm-keyword {
  color: #c792ea !important;
  font-weight: normal !important;
}
span.cm-string {
  color: #ecc48d !important;
}

span.cm-variable {
  color: #f8f8f2 !important;
}

span.cm-variable-2 {
  color: #f8f8f2 !important;
}

span.cm-variable-3 {
  color: #f8f8f2 !important;
}

span.cm-def {
  color: #82aaff !important;
}

span.cm-bracket {
  color: #f8f8f2 !important;
}

span.cm-tag {
  color: #f92672 !important;
}

span.cm-link {
  color: #ae81ff !important;
}

span.cm-error {
  background: #f92672 !important;
  color: #f8f8f2 !important;
}

span.cm-builtin {
  color: #addb67 !important;
}

span.cm-operator {
  color: #c792ea !important;
}

span.cm-meta {
  color: #addb67 !important;
}
