@import './variables';

.history-panel-wrapper {
	border: $border;

	.history-panel {
		width: 225px !important;
		// border: $border;
		background-color: $bg-main;
	}

	.history-git-bar {
		background-color: $bg-main;
	}

	.history-preview,
	.history-preview-selected {
		border-top: $border;
		border-bottom: none;
		background-color: $bg-main;
	}

	.history-preview:hover,
	.history-preview-selected:hover {
		background-color: $hover-dropdown;
	}

	.history-date-title {
		color: $font-main;
	}

	.history-all-changes-saved {
		color: lightgreen !important;
	}
}
