@import './variables';

.searchpanel {
	background-color: $bg-main;
	border-color: $line-main;

	.category {
		color: $line-main;
		background-color: $bg-main;
		border-top: $border;
		border-bottom: $border;
	}

	input {
		color: $font-main;
		background-color: $bg-main;
		border-bottom-color: $font-main;
	}

	a,
	i.fa {
		color: $font-main;

		&:hover {
			background-color: $line-main;
		}
	}

	.searchbox {
		border-bottom: $border;
	}
}
